.rdrCalendarWrapper,
.rdrDateRangeWrapper {
  max-height: 400px;
}

.rdrMonths,
.rdrMonthsVertical {
  height: 100%;
  overflow-y: auto;
  border: none;
}

.rdrDefinedRangesWrapper {
  display: none;
}
