.rdrDateRangePickerWrapper {
  border-radius: 30px;
  background-color: #fff;
}

div > .rdrDateDisplayWrapper {
  background-color: rgba(255, 255, 255);
}

.rdrMonth .rdrWeekDays {
  display: flex;
  gap: 0.5rem;
}

.rdrCalendarWrapper,
.rdrDateRangeWrapper {
  max-height: 430px;
}

.rdrMonths,
.rdrMonthsVertical {
  height: 100%;
  overflow-y: auto;
  border: none;
}

.rdrMonths,
.rdrMonthsVertical::-webkit-scrollbar {
  display: none;
}

span.rdrStartEdge {
  background-color: #6750a4;
}

span.rdrEndEdge {
  background-color: #6750a4;
}

span.rdrInRange {
  border-radius: 0;
  background-color: #e8def8;
  color: #1d192b;
}

.rdrDefinedRangesWrapper {
  display: none;
}
